<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/library/fontawesome-free/css/all.min.css" />
    <link
      rel="stylesheet"
      href="/library/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/client/base.css" />
    <link rel="stylesheet" href="/css/client/base.rep.css" />
    <link rel="stylesheet" href="/css/global/global.css" />

    <link rel="stylesheet" href="/css/client/home.css" />
    <link rel="stylesheet" href="/css/client/home.rep.css" />

    <script src="/library/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/library/jquery/jquery.min.js"></script>
    <script src="/js/component/function.js"></script>
    <script src="/js/component/checkuser.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brain</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="header-left">
          <div class="header-logo">
            <a href="/">
              <img
                class="header-logo-img"
                src="/assets/images/logo/brain-2.png"
                alt="Logo"
              />
            </a>
          </div>
          <form method="get" class="search-container">
            <input type="" class="search-input" placeholder="Find a quiz" />
            <i class="fas fa-search"></i>
          </form>
          <ul class="header-link">
            <li class="active">
              <a href="/">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/activity">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Activity</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="header-right">
          <div class="header-create-quiz">
            <a href="/createquiz" class="btn create-quiz">
              <i class="fa-solid fa-circle-plus"></i>
              Create a quiz
            </a>
          </div>
          <div class="header-info">
            <div class="header-info-icon">
              <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header-info-link hidden">
              <ul class="info-detail">
                <li class="info-username">Username</li>
                <li class="info-email">admin@gmail.com</li>
              </ul>

              <ul class="info-list-link">
                <div class="mobile-header-link">
                  <li class="active">
                    <a href="/">
                      <i class="fa-solid fa-house"></i>
                      <span>Home</span>
                    </a>
                  </li>
                  <li>
                    <a href="/activity">
                      <i class="fa-solid fa-clock-rotate-left"></i>
                      <span>Activity</span>
                    </a>
                  </li>
                </div>

                <li>
                  <a href="/user/setting">
                    <i class="fa-solid fa-gear"></i>
                    Setting</a
                  >
                </li>
                <li>
                  <a href="/logout"
                    ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="main-container">
        <div class="content-actionable">
          <div class="home-actionable-container">
            <form class="actionable-form" method="get">
              <input
                class="actionable-form-input"
                placeholder="Find a quiz"
                type="text"
              />
              <button type="button" class="actionable-form-btn">Search</button>
            </form>
          </div>
          <div class="content-avatar-container">
            <div class="avatar-user-name">
              Hello,
              <span class="avatar-user-name-value">Dominic Hoang</span>
            </div>
            <img
              class="avatar-user-image"
              src="/assets/images/icon/cartoon-user-avatar.png"
              alt=""
            />
          </div>
        </div>
        <!-- Recent -->
        <!-- Example -->
        <!-- <div class="main-container-content content-recent">
          <div class="quiz-header">
            <p class="quiz-header-text">Recent Activity</p>
            <a class="btn quiz-see-more">See more</a>
          </div>
          <div class="quiz-container">
            <ul class="quiz-container-list">
              <li class="quiz-item">
                <a class="quiz-item-link" href="/quiz/1">
                  <img
                    class="quiz-img"
                    src="/assets/images/quiz/math.jpg"
                    alt=""
                  />
                  <div class="quiz-info">
                    <span class="questions-length">12Qs</span>
                    <span class="times-played">41K</span>
                  </div>
                  <p class="quiz-name">Math Quiz</p>
                </a>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- End -->
      </div>
    </main>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-left">
          <p class="copyright">@Dominic. All Rights Reserved</p>
        </div>

        <div class="footer-right">
          <p class="footer-link-lable">Get our app</p>
          <div class="footer-link-content">
            <a href="#">
              <img
                src="/assets/images/icon/apple-app-store.png"
                alt=""
                srcset=""
              />
            </a>
            <a href="#">
              <img src="/assets/images/icon/google-play.png" alt="" srcset="" />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/component/syncData.js"></script>
    <script src="/js/component/syncAllQuiz.js"></script>
    <script src="/js/client/base.js"></script>
    <script src="/js/client/home.js"></script>
  </body>
</html>
