<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/library/fontawesome-free/css/all.min.css" />
    <link
      rel="stylesheet"
      href="/library/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/library/sweetalert/sweetalert2.min.css" />

    <link rel="stylesheet" href="/css/client/base.css" />
    <link rel="stylesheet" href="/css/client/base.rep.css" />
    <link rel="stylesheet" href="/css/global/global.css" />

    <link rel="stylesheet" href="/css/client/setting.css" />
    <link rel="stylesheet" href="/css/client/setting.rep.css" />

    <script src="/library/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/library/jquery/jquery.min.js"></script>
    <script src="/js/component/function.js"></script>
    <script src="/js/component/checkuser.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brain</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="header-left">
          <div class="header-logo">
            <a href="/">
              <img
                class="header-logo-img"
                src="/assets/images/logo/brain-2.png"
                alt="Logo"
              />
            </a>
          </div>
          <form class="search-container">
            <input type="" class="search-input" placeholder="Find a quiz" />
            <i class="fas fa-search"></i>
          </form>
          <ul class="header-link">
            <li class="">
              <a href="/">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/activity">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Activity</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="header-right">
          <div class="header-create-quiz">
            <a href="/createquiz" class="btn create-quiz">
              <i class="fa-solid fa-circle-plus"></i>
              Create a quiz
            </a>
          </div>
          <div class="header-info">
            <div class="header-info-icon">
              <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header-info-link hidden">
              <ul class="info-detail">
                <li class="info-username">Username</li>
                <li class="info-email">admin@gmail.com</li>
              </ul>

              <ul class="info-list-link">
                <div class="mobile-header-link">
                  <li class="">
                    <a href="/">
                      <i class="fa-solid fa-house"></i>
                      <span>Home</span>
                    </a>
                  </li>
                  <li>
                    <a href="/activity">
                      <i class="fa-solid fa-clock-rotate-left"></i>
                      <span>Activity</span>
                    </a>
                  </li>
                </div>

                <li class="active">
                  <a href="/user/setting">
                    <i class="fa-solid fa-gear"></i>
                    Setting</a
                  >
                </li>
                <li>
                  <a href="/logout"
                    ><i class="fa-solid fa-right-from-bracket"></i> Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="main-container">
        <div class="setting-top-container">
          <h1 class="settings-page-heading">Settings</h1>
        </div>
        <div class="setting-group-container">
          <div class="settings-group-topbar">
            <i class="fa-solid fa-user-pen settings-group-profile-icon"></i>

            <h2 class="settings-group-heading">Profile</h2>
          </div>
          <button
            class="settings-input-container"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#editFullName"
          >
            <p class="settings-input-title">Full Name</p>
            <p class="settings-input-content">Username</p>
          </button>
          <button
            class="settings-input-container"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#editPhone"
          >
            <p class="settings-input-title">Phone</p>
            <p class="settings-input-content">123456</p>
          </button>
        </div>
        <div class="setting-group-container">
          <div class="settings-group-topbar">
            <i class="fa-solid fa-user settings-group-account-icon"></i>
            <h2 class="settings-group-heading">Account settings</h2>
            <button
              class="settings-input-container"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#updatePassword"
            >
              <p class="settings-input-title">Update password</p>
            </button>
            <button
              class="settings-input-container"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#deleteAccount"
            >
              <p class="settings-input-title">Delete account</p>
            </button>
            <button class="settings-input-container" type="button">
              <a href="/logout" class="settings-input-title">Log out</a>
            </button>
          </div>
        </div>

        <div class="setting-footer-container">
          <a href="" class="settings-footer-link">Contact Us</a>
          <a href="" class="settings-footer-link">Terms of Service</a>
          <a href="" class="settings-footer-link">Privacy Policy</a>
        </div>
      </div>
    </main>

    <!-- Modal -->
    <div
      class="modal fade"
      id="editFullName"
      tabindex="-1"
      aria-labelledby=""
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Full Name</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p for="">Enter new full name</p>
            <input
              class="modal-fullname-input"
              type=""
              name=""
              value=""
              placeholder="Enter full name"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="editPhone"
      tabindex="-1"
      aria-labelledby=""
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Phone</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p for="">Enter new phone</p>
            <input
              class="modal-phone-input"
              type=""
              name=""
              value=""
              placeholder="Enter your phone "
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="updatePassword"
      tabindex="-1"
      aria-labelledby=""
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New password</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p for="">Enter new password</p>
            <input
              class="modal-password-input"
              type="password"
              name="password"
              value=""
              placeholder="Enter password"
            />

            <p for="">Enter repeat password</p>
            <input
              class="modal-repassword-input"
              type="password"
              name="repassword"
              value=""
              placeholder="Enter repassword"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="deleteAccount"
      tabindex="-1"
      aria-labelledby=""
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p for="">Enter your email for delete account</p>
            <input
              class="modal-delete-input"
              type=""
              name=""
              value=""
              placeholder="Enter your email"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-left">
          <p class="copyright">@Dominic. All Rights Reserved</p>
        </div>

        <div class="footer-right">
          <p class="footer-link-lable">Get our app</p>
          <div class="footer-link-content">
            <a href="#">
              <img
                src="/assets/images/icon/apple-app-store.png"
                alt=""
                srcset=""
              />
            </a>
            <a href="#">
              <img src="/assets/images/icon/google-play.png" alt="" srcset="" />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/component/syncData.js"></script>
    <script src="/library/sweetalert/sweetalert2.all.min.js"></script>

    <script src="/js/client/base.js"></script>
    <script src="/js/client/setting.js"></script>
  </body>
</html>
