<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/library/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="/library/sweetalert/sweetalert2.min.css" />
    <link rel="stylesheet" href="/css/pages/index.css" />

    <link rel="stylesheet" href="/css/pages/reponsive.css" />
    <script src="/library/jquery/jquery.min.js"></script>
    <script src="/js/component/function.js"></script>
    <title>Login</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form action="/api/create-user" method="POST">
          <h1>Create Account</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>
          <span>or use your email for registeration</span>
          <input
            type="text"
            name="name"
            class="signup_name"
            placeholder="Full Name"
            required
          />
          <input
            type="email"
            name="email"
            class="signup_email"
            placeholder="Email"
            required
          />
          <input
            type="password"
            name="password"
            class="signup_password"
            placeholder="Password"
            required
          />
          <button class="btn" id="signup_btn">Sign Up</button>
          <p class="footer_text">
            Already have account?
            <button type="button" id="login" class="sign_button">
              Sign In
            </button>
          </p>
        </form>
      </div>
      <div class="form-container sign-in">
        <form action="/api/login" method="POST">
          <h1>Sign In</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </div>
          <span>or use your email password</span>
          <input
            type="email"
            name="email"
            class="signin_email"
            placeholder="Email"
            required
          />
          <input
            type="password"
            name="password"
            class="signin_password"
            placeholder="Password"
            required
          />
          <a href="#">Forget Your Password?</a>
          <button class="btn" id="signin_btn">Sign In</button>
          <p class="footer_text">
            Don't have account?
            <button type="button" id="register" class="sign_button">
              Sign Up
            </button>
          </p>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter your personal details to use all of site features</p>
            <button class="btn" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello, Friend!</h1>
            <p>
              Register with your personal details to use all of site features
            </p>
            <button class="btn" id="register">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/library/sweetalert/sweetalert2.all.min.js"></script>
    <script src="/js/pages/index.js"></script>
  </body>
</html>
